.container {
  width: 100%;
  height: 580px;
}
.container h2 {
  color: #b4b4b4;

  font-family: "GmarketSans";
  font-size: 39px;
  font-style: normal;
  font-weight: 600;
  line-height: 175%; /* 68.25px */
  text-align: center;
  margin: 47px 0 65px;
}
.container form {
  width: 372px;
  margin: auto;
}
.container .input_group {
  display: flex;
  width: 372px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.container .input_group:first-child {
  margin-bottom: 30px;
}
.container .input_group label {
  color: #134aa9;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
}
.container .input_group label input {
  display: block;
  width: 100%;
  height: 48px;
  padding: 12px 16px;
  border: none;
  border-bottom: 2px solid #134aa9;
  background: #eff4fe;
  margin-top: 8px;
  margin-bottom: 4px;
}
.container .input_group label input::placeholder {
  color: #7b7b7b;
  font-size: 16px;
  line-height: 140%;
  font-family: "GmarketSans";
}
.container .input_group span {
  color: #7b7b7b;
  font-size: 12px;
}
button {
  display: flex;
  width: 205px;
  height: 56px;
  padding: 14px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: #134aa9;
  background: #134aa9;
  margin: 47px auto 0;
  color: #fff;
  font-family: "GmarketSans";
  font-weight: 600;
}
.quick {
  z-index: 999999;
}
