@charset "utf-8";
@import url(./reset.css);

.df {
  display: flex;
}
body {
  background: #ffffff;
}
.inner {
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: auto;
}
h3 {
  font-family: "GmarketSans";
  font-size: 40px;
  font-weight: 900;
  line-height: 53px;
  color: #2a2e35;
}
h5 {
  font-family: "NotoSansKR";
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: #2a2e35;
  margin-top: 7px;
}

/* popup */

.popup {
  width: min(50%, 470px);
  padding: 4% 4%;
  background-color: #ffffffd4;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  font-size: 18px;
  font-weight: 600;
  text-align: justify;
  border-radius: 22px;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 9999999;
  opacity: 1;
  /* display: block; */
  transition: all 0.5s;
}
.popup.off {
  opacity: 0;
  /* display: none; */
  z-index: -1;
}
.popup > span {
  user-select: none;
  cursor: pointer;
  height: 35px;
  font-size: 16px;
  padding: 1% 4%;
  background-color: #134aa9;
  border-radius: 300px;
  color: #fff;
  display: block;
  position: absolute;
  right: 7%;
  bottom: 10%;
}
.popup > b {
  color: #134aa9;
}

/* up_btn */

.up_btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  background: #134aa9;
  border-radius: 100%;
  z-index: 3;
}
.up_btn i {
  color: white;
  font-size: 20px;
  display: block;
  width: 50px;
  text-align: center;
  line-height: 50px;
}

/* header */

.menu_wrap {
  background: white;
  width: 100%;
  position: relative;
  height: 100px;
  overflow: hidden;
}
.menu_wrap:hover {
  overflow: visible;
}
.menu_wrap:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 220px;
  background: #eff4fe;
  top: 100px;
  left: 0;
  z-index: 55;
}
.menu nav {
  width: 75%;
  height: 100px;
}
nav > .gnb {
  margin: 0 85px;
  justify-content: space-between;
  height: 100%;
}
nav > .gnb > li > a {
  font-family: "GmarketSans";
  font-size: 21px;
  font-weight: 900;
  line-height: 100px;
  color: #134aa9;
}
.dep2 {
  position: absolute;
  z-index: 222222;
}
.dep2 a {
  font-family: "NotoSansKR";
  font-size: 18px;
  font-weight: 400;
  color: #2a2e35;
  display: block;
  margin-top: 17px;
  position: relative;
}
.dep2 a::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #134aa9;
  top: 14px;
  margin-left: 7px;
  opacity: 0;
}
.dep2 a:hover:after {
  opacity: 1;
}
.dep2 a:hover {
  content: "";
  color: #134aa9;
  font-weight: 600;
}
.hover1::before {
  font-family: "GmarketSans";
  font-size: 21px;
  font-weight: 900;
  line-height: 100px;
  color: #001d4e;
  position: absolute;
  content: "경기생활문화센터";
  overflow: hidden;
  width: 0%;
  transition: all 0.3s;
}
.hover1:hover:before {
  width: 100%;
}
.hover2::before {
  font-family: "GmarketSans";
  font-size: 21px;
  font-weight: 900;
  line-height: 100px;
  color: #001d4e;
  position: absolute;
  content: "경기도생활문화";
  overflow: hidden;
  width: 0%;
  transition: all 0.3s;
}
.hover2:hover:before {
  width: 100%;
}
.hover3::before {
  font-family: "GmarketSans";
  font-size: 21px;
  font-weight: 900;
  line-height: 100px;
  color: #001d4e;
  position: absolute;
  content: "기록자료";
  overflow: hidden;
  width: 0%;
  transition: all 0.3s;
}
.hover3:hover:before {
  width: 100%;
}
.hover4::before {
  font-family: "GmarketSans";
  font-size: 21px;
  font-weight: 900;
  line-height: 100px;
  color: #001d4e;
  position: absolute;
  content: "웹진";
  overflow: hidden;
  width: 0%;
  transition: all 0.3s;
}
.hover4:hover:before {
  width: 100%;
}
.hover5::before {
  font-family: "GmarketSans";
  font-size: 21px;
  font-weight: 900;
  line-height: 100px;
  color: #001d4e;
  position: absolute;
  content: "소통";
  overflow: hidden;
  width: 0%;
  transition: all 0.3s;
}
.hover5:hover:before {
  width: 100%;
}
.logo {
  width: 10%;
  height: 100%;
}
.logo img {
  width: 90%;
  height: 100%;
}
.lss {
  width: 15%;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
}
.lss > a {
  font-family: "NotoSansKR";
  font-size: 14px;
  color: #134aa9;
}
.lss > a:hover {
  border-bottom: 1px solid #134aa9;
}

/* main */

main {
  position: relative;
  overflow: hidden;
}

/* section_wrap1 */

.main_banner {
  width: 100%;
  height: 700px;
  position: relative;
}
#brand_visual ul {
  position: relative;
  margin: auto;
  width: 100%;
  height: 700px;
  overflow: hidden;
}
#brand_visual ul li {
  position: absolute;
  width: 100%;
  height: 100%;
}
#brand_visual .visual_1 {
  left: 0;
  background: url(../img/main_visual.jpg) 0 0 no-repeat;
  background-size: cover;
}
#brand_visual .visual_2 {
  left: 100%;
  background: url(../img/main_redesign.jpg) 0 0 no-repeat;
  background-size: cover;
}
#brand_visual .visual_3 {
  left: 200%;
  background: url(../img/main_redesign2.jpg) 0 0 no-repeat;
  background-size: cover;
}

.main_banner > .inner {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.main_banner > .inner > .banner_text {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-60%);
  user-select: none;
}
.main_banner > .inner > .banner_text > h4 {
  font-family: "GmarketSans";
  font-size: 30px;
  font-weight: 600;
  color: #134aa9;
}
.main_banner > .inner > .banner_text > h2 {
  font-family: "GmarketSans";
  font-size: 80px;
  font-weight: 600;
  color: #134aa9;
  margin-top: -15px;
}
.main_banner > .inner > .banner_num {
  position: absolute;
  align-items: center;
  top: 80%;
}
.main_banner > .inner > .banner_num > .bar {
  width: 74px;
  height: 3px;
  background: #134aa9;
  content: "";
}
.main_banner > .inner > .banner_num > .no {
  font-family: "GmarketSans";
  font-size: 16px;
  font-weight: 900;
  color: #134aa9;
}
.main_banner > .inner > .go {
  width: 100%;
  height: 130px;
  background: #eff4fe;
  padding: 0 80px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
}
.main_banner > .inner > .go > a {
  font-family: "GmarketSans";
  font-size: 25px;
  font-weight: 900;
  color: #2a2e35;
}
.main_banner > .inner > .go > a:hover {
  color: #134aa9;
}
.btnImg i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  color: #134aa9;
  font-size: 30px;
}
.btnImg .fa-chevron-left {
  left: 5%;
}
.btnImg .fa-chevron-right {
  right: 5%;
}
.pager {
  display: flex;
  position: absolute;
  top: 85%;
  left: 50%;
  gap: 10px;
  transform: translateX(-50%);
}
.pager li {
  width: 12px;
  height: 12px;
  background: url(../img/btn_visual.png) 0 -11px no-repeat;
  background-size: 80%;
}
.pager li.on {
  background-position: 0 0;
}
.pager li a {
  display: block;
  text-indent: -98999px;
}

/* section_wrap2 */

.section_wrap2 {
  margin-top: 230px;
}
.section_wrap2 .tabs {
  width: 100%;
  height: 380px;
}
.section_wrap2 .tabs input {
  opacity: 0;
  display: none;
}
.section_wrap2 .tabs .tab_btn {
  width: 60%;
  margin-top: 50px;
  padding-right: 130px;
  user-select: none;
}
.section_wrap2 .tabs .tab_btn label {
  cursor: pointer;
  display: inline-block;
  height: 75px;
  line-height: 75px;
  padding: 0 30px;
  margin-bottom: 20px;
  margin-right: 10px;
  border: 2px solid #134aa9;
  background: white;
  border-radius: 300px;
  font-family: "GmarketSans";
  font-size: 20px;
  font-weight: 600;
  color: #134aa9;
}
.section_wrap2 .tabs .tab_btn label:hover {
  color: white;
  background: #134aa9;
}
.section_wrap2 .tabs .imgs {
  width: 40%;
}
.space_img {
  position: absolute;
  width: 560px;
  height: 380px;
  border-radius: 22px;
  background: no-repeat;
  opacity: 0;
}
.imgs .one {
  background-image: url(../img/space_01.png);
  background-size: 100%;
}
.imgs .two {
  background-image: url(../img/space_02.png);
  background-size: 100%;
}
.imgs .three {
  background-image: url(../img/space_03.png);
  background-size: 100%;
}
.imgs .four {
  background-image: url(../img/space_04.png);
  background-size: 100%;
}
.imgs .five {
  background-image: url(../img/space_05.png);
  background-size: 100%;
}
.imgs .six {
  background-image: url(../img/space_06.png);
  background-size: 100%;
}
.imgs .seven {
  background-image: url(../img/space_07.png);
  background-size: 100%;
}
.imgs .eight {
  background-image: url(../img/space_08.png);
  background-size: 100%;
}
.imgs .nine {
  background-image: url(../img/space_09.png);
  background-size: 100%;
}
.imgs .ten {
  background-image: url(../img/space_10.png);
  background-size: 100%;
}

#one:checked ~ .tab_btn label[for="one"] {
  color: white;
  background: #134aa9;
}
#two:checked ~ .tab_btn label[for="two"] {
  color: white;
  background: #134aa9;
}
#three:checked ~ .tab_btn label[for="three"] {
  color: white;
  background: #134aa9;
}
#four:checked ~ .tab_btn label[for="four"] {
  color: white;
  background: #134aa9;
}
#five:checked ~ .tab_btn label[for="five"] {
  color: white;
  background: #134aa9;
}
#six:checked ~ .tab_btn label[for="six"] {
  color: white;
  background: #134aa9;
}
#seven:checked ~ .tab_btn label[for="seven"] {
  color: white;
  background: #134aa9;
}
#eight:checked ~ .tab_btn label[for="eight"] {
  color: white;
  background: #134aa9;
}
#nine:checked ~ .tab_btn label[for="nine"] {
  color: white;
  background: #134aa9;
}
#ten:checked ~ .tab_btn label[for="ten"] {
  color: white;
  background: #134aa9;
}

.tabs input:nth-of-type(1):checked ~ .imgs .space_img:nth-child(1) {
  opacity: 1;
}
.tabs input:nth-of-type(2):checked ~ .imgs .space_img:nth-child(2) {
  opacity: 1;
}
.tabs input:nth-of-type(3):checked ~ .imgs .space_img:nth-child(3) {
  opacity: 1;
}
.tabs input:nth-of-type(4):checked ~ .imgs .space_img:nth-child(4) {
  opacity: 1;
}
.tabs input:nth-of-type(5):checked ~ .imgs .space_img:nth-child(5) {
  opacity: 1;
}
.tabs input:nth-of-type(6):checked ~ .imgs .space_img:nth-child(6) {
  opacity: 1;
}
.tabs input:nth-of-type(7):checked ~ .imgs .space_img:nth-child(7) {
  opacity: 1;
}
.tabs input:nth-of-type(8):checked ~ .imgs .space_img:nth-child(8) {
  opacity: 1;
}
.tabs input:nth-of-type(9):checked ~ .imgs .space_img:nth-child(9) {
  opacity: 1;
}
.tabs input:nth-of-type(10):checked ~ .imgs .space_img:nth-child(10) {
  opacity: 1;
}

/* section_wrap3 */

.section_wrap3 {
  margin-top: 230px;
}
.text {
  width: 60%;
  margin-top: 50px;
}
.illust_wrap {
  width: 40%;
  height: 100%;
  position: relative;
  z-index: 2;
}
.manse_illust {
  width: 80%;
  height: 250px;
  background: url(../img/our-center-img.svg) no-repeat;
  background-position: center;
}
.more1 {
  width: 95px;
  height: 95px;
  border-radius: 100%;
  border: 1px solid #134aa9;
  align-self: center;
  position: absolute;
  right: 0;
  text-align: center;
  line-height: 95px;
  font-family: "GmarketSans";
  font-size: 14px;
  font-weight: 900;
  color: #134aa9;
  background: rgba(255, 255, 255, 0);
}
.more1:hover {
  color: white;
  background: #134aa9;
}

/* section_wrap4 */

.section_wrap4 {
  margin-top: 115px;
  padding-top: 115px;
  background: #eff4fe;
}
.sns_wrap {
  width: 100%;
  height: 250px;
  margin-top: 50px;
  position: relative;
}
.sns_img_wrap {
  width: 60%;
  height: 100%;
  position: absolute;
  right: 0;
  justify-content: space-between;
}
.sns_img1,
.sns_img2,
.sns_img3 {
  width: 250px;
  height: 250px;
  border-radius: 22px;
  background: #b0b0b0;
}
.sns_img1 {
  background: url(../img/snsimg1.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.sns_img2 {
  background: url(../img/snsimg2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.sns_img3 {
  background: url(../img/snsimg3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.more2 {
  width: 95px;
  height: 95px;
  border-radius: 100%;
  border: 1px solid #134aa9;
  align-self: center;
  position: absolute;
  left: 0;
  text-align: center;
  line-height: 95px;
  font-family: "GmarketSans";
  font-size: 14px;
  font-weight: 900;
  color: #134aa9;
  background: #ffffff00;
  z-index: 555;
}
.more2:hover {
  color: white;
  background: #134aaa;
}

/* section_wrap5 */

#time {
  display: inline-block;
  letter-spacing: -0.5px;
  color: #134aa9;
  font-size: 40px;
  width: max(245px, 19%);
}
.section_wrap5 {
  padding-top: 230px;
  padding-bottom: 230px;
  background: #eff4fe;
}
.notice_wrap {
  width: 100%;
  margin-top: 50px;
  justify-content: space-between;
}
.notice_img1,
.notice_img2,
.notice_img3 {
  width: 415px;
  height: 445px;
  padding: 50px 40px 66px;
  background: #ffffff;
  position: relative;
  z-index: 2;
  transform: translate(0, 0);
  box-shadow: 0px 10px 30px rgba(19, 74, 170, 0.1);
  transition: box-shadow 0.5s, transform 0.5s;
}
.notice_img1:hover,
.notice_img2:hover,
.notice_img3:hover {
  cursor: pointer;
  box-shadow: 10px 10px 30px 10px rgba(19, 74, 170, 0.2);
  transform: translate(-4px, -4px);
}
.notice {
  font-family: "NotoSansKR";
  font-size: 18px;
  font-weight: 400;
  color: #ababab;
}
.title {
  position: absolute;
  width: 335px;
  top: 90px;
  font-family: "NotoSansKR";
  font-size: 28px;
  line-height: 40px;
  font-weight: 800;
  text-align: justify;
  color: #2a2e35;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sub_title {
  position: absolute;
  width: 335px;
  top: 220px;
  font-family: "NotoSansKR";
  font-size: 18px;
  line-height: 33px;
  font-weight: 400;
  text-align: justify;
  color: #787d86;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.date {
  position: absolute;
  bottom: 66px;
  font-family: "NotoSansKR";
  font-size: 13px;
  font-weight: 400;
  color: #ababab;
}
.click {
  position: absolute;
  bottom: 50px;
  right: 40px;
  font-family: "NotoSansKR";
  font-size: 5rem;
  font-weight: 100;
  color: #ababab;
}
.click:hover {
  color: #787d86;
}

/* bg */

.bg1 {
  position: absolute;
  background-image: url(../img/deco1.png);
  width: 456px;
  height: 456px;
  top: 1500px;
  left: 65%;
  z-index: 1;
  animation-name: movel1;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes movel1 {
  0% {
    top: 1500px;
    left: 65%;
  }
  100% {
    top: 1650px;
    left: 70%;
  }
}
.bg2 {
  position: absolute;
  background-image: url(../img/deco2.png);
  background-repeat: no-repeat;
  width: 470px;
  height: 470px;
  top: 2300px;
  left: -20px;
  z-index: 1;
  animation-name: move2;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes move2 {
  0% {
    top: 2100px;
  }
  100% {
    top: 2200px;
  }
}
.bg3 {
  position: absolute;
  background-image: url(../img/deco3.png);
  background-repeat: no-repeat;
  width: 470px;
  height: 470px;
  top: 3350px;
  right: -70px;
  z-index: 1;
  animation-name: move3;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes move3 {
  0% {
    top: 95%;
  }
  100% {
    top: 90%;
  }
}

/* footer */

.footer_wrap {
  background: #333333;
}
.ft_sc1 {
  width: 100%;
  height: 96px;
  position: relative;
}
.ft_sc2 {
  width: 100%;
  height: 180px;
  position: relative;
}
.ft_sc2 {
  border-top: 1px solid #7b7b7b;
}
.information {
  position: absolute;
  left: 0;
}
.information li {
  color: white;
  font-family: "NotoSansKR";
  font-size: 16px;
  font-weight: 600;
  line-height: 96px;
  padding-right: 30px;
}
.sns {
  position: absolute;
  left: 70%;
}
.sns li {
  padding-left: 25px;
  color: #7b7b7b;
  font-family: "NotoSansKR";
  font-size: 20px;
  font-weight: 600;
  line-height: 96px;
}
.family {
  position: absolute;
  right: 0;
  align-self: center;
}
.family span {
  width: 195px;
  height: 40px;
  border: 1px solid #7b7b7b;
  padding: 0 13px;
  justify-content: space-between;
  align-items: center;
  color: #7b7b7b;
  font-family: "NotoSansKR";
  font-size: 14px;
  font-weight: 600;
}
.family2 {
  display: none;
}
.ft_sc2 {
  align-items: center;
}
.ft_sc2 > .ftlogo1 {
  width: 15%;
  height: 80px;
  background: url(../img/main-logo-gray.svg) no-repeat;
  background-size: 80%;
  background-position: center;
  opacity: 0.5;
}
.ft_sc2 > .ftlogo2 {
  width: 10%;
  height: 80px;
  background: url(../img/gunggido_logo.svg) no-repeat;
  background-size: 70%;
  background-position: center;
  opacity: 0.5;
}
.ft_sc2 > .fttext {
  height: 80px;
  color: #7b7b7b;
  font-family: "NotoSansKR";
  font-size: 14px;
  font-weight: 300;
  padding-left: 50px;
}
